.drag-container {
    margin: 20px auto;
}

.drag-list {
    display: flex;
    align-items: flex-start;
}

.drag-container ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 0 1px 0;
}

@media (max-width: 690px) {
    .drag-list {
        display: block;
    }
}

.drag-column {
    flex: 1;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 690px) {
    .drag-column {
        margin-bottom: 30px;
    }
}

.drag-column h2 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}

.drag-column-backlog .drag-column-header, .drag-column-backlog .is-moved, .drag-column-backlog .drag-options {
    background: #FB7D44;
}

.drag-column-todo .drag-column-header, .drag-column-todo .is-moved, .drag-column-todo .drag-options {
    background: #2A92BF;
}

.drag-column-in-progress .drag-column-header, .drag-column-in-progress .is-moved, .drag-column-in-progress .drag-options {
    background: #F4CE46;
}

.drag-column-done .drag-column-header, .drag-column-done .is-moved, .drag-column-done .drag-options {
    background: #00B961;
}

.drag-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.drag-inner-list {
    min-height: 50px;
    background-color: rgb(235, 236, 240);
    transition: background-color 0.2s ease 0s;
}

.drag-item {
    min-height: 85px;
    max-height: 120px;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    box-sizing: border-box;
    margin: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(9, 30, 66);
    display: flex;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    -o-border-image: initial;
    border-image: initial;
    border-color: transparent;
    padding: 8px;
    display: grid;
}

.drag-item:focus {
    box-shadow: none;
    outline: none;
    border-color: rgba(9, 30, 66, 0.71);
}

.drag-item:hover {
    background-color: #EBECF0;
}

.drag-item .top {
    display: block;
    box-sizing: content-box;
    line-height: 1.42857143;
    max-height: 4.28571429em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drag-item .bottom .container {
    margin-right: 5px;
    flex: 1 0 auto;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
}

.drag-item .bottom {
    display: flex;
    flex-wrap: nowrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
    margin-top: 0;
    overflow: hidden;
}

.drag-item.is-moving {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.8);
}

.drag-header-more {
    cursor: pointer;
}