.sidebar {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: left .3s ease;
  background-color: #1d1d1d;
}

.sidebar:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(29, 29, 29, .8);
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar .chat-name {
  font-size: 2em;
  font-weight: bold;
}

.sidebar-conversations {
  display: grid;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, .4);
  padding: 10px;
}

.sidebar-conversations ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-conversations li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}